<footer>
<?js if (this.strings.footer){ ?>
	<?js= this.strings.footer ?>
	<br />
<?js } ?>
<?js if (this.strings.copyright){ ?>
	<span class="copyright">
	<?js= this.strings.copyright ?>
	</span>
<?js } ?>
</footer>
<div style="height:100px"></div>

