
<header>
    <a href="<?js= this.urls.index ?>"><?js= this.strings.systemName ?></a>
        <?js for (var key in this.data.pages) { ?>
				<?js var page = this.data.pages[key]; ?>				
				<?js if (page.first && page.navbar) { ?>
						<a href="<?js= page.url ?>"><?js= page.title ?></a>
				<?js } ?>
			<?js } ?>
            <a href="<?js= this.config.singleTutorials ? this.urls.tutorials : this.data.tutorials.children[0].link ?>">Guides</a>
        <?js if (this.data.members.modules.length) { ?>
            <a href="<?js= this.config.singleModules || true ? this.urls.modules : this.data.members.modules[0].link ?>">Reference</a>
        <?js } ?>
        <?js for (var key in this.data.pages) { ?>
				<?js var page = this.data.pages[key]; ?>				
				<?js if (!page.first && page.navbar) { ?>
						<a href="<?js= page.url ?>"><?js= page.title ?></a>
				<?js } ?>
			<?js } ?>
</header>

<style>
body>header {
  width: 100%;
  display : flex;
  padding : 0 20px;
  background : lightsteelblue;
}
header a {
  line-height : 50px;
  padding : 0 20px;
  margin : 0 5px;

  font-size : 16px;
  letter-spacing : .4px;
  color : white;
}
header a:hover {
    background : lightsalmon;
    color : white;
    text-decoration : none;
}
</style>