<!DOCTYPE html>

<html lang="en">

	<head>
	
		<meta charset="utf-8">
		<title><?js= this.data.systemName ?> <?js= title ?></title>
	
		<link type="text/css" rel="stylesheet" href="styles/sunlight.<?js= this.styling.syntaxTheme ?>.css">
		<link type="text/css" rel="stylesheet" href="styles/site.<?js= this.styling.theme ?>.css">
	
	</head>

	<body>
	
        <script src="scripts/jquery.js"></script>

		<?js= header ?>
	
		<?js= main ?>
	
		<script src="scripts/sunlight.js"></script>
		<script src="scripts/docstrap.lib.js"></script>
		<script src="scripts/bootstrap.js"></script>
		<script>
            $( ".tutorial-section pre, .readme-section pre" ).each( function () {
                var $this = $( this );
        
                var example = $this.find( "code" );
                exampleText = example.html();
                var lang = /{@lang (.*?)}/.exec( exampleText );
                if ( lang && lang[1] ) {
                    exampleText = exampleText.replace( lang[0], "" );
                    example.html( exampleText );
                    lang = lang[1];
                } else {
                    lang = "javascript";
                }
        
                if ( lang ) {
        
                    $this
                    .addClass( "sunlight-highlight-" + lang )
                    .addClass( "linenums" )
                    .html( example.html() );
        
                }
            } );
  			Sunlight.highlightAll( {
				lineNumbers : <?js= this.styling.linenums || false ?>,
				showMenu : true,
				enableDoclinks : true
			} );
		</script>
        <script src="scripts/beta.js"></script>
        <script src="scripts/beta-browser.js"></script>
        <script src="scripts/betajs-dynamics.js"></script>

	</body>
	
</html>
