<div class="col-md-8">
	<div id="main">
		<p>
			This section is under construction.
		</p>
        <?js modules.forEach(function(entry) { ?>
			<section class="tutorial-section">
                <header id="<?js= entry.longname ?>">
                    <h1><?js= entry.name ?></h1>
                </header>
                <article>
                    <?js (entry.modules || []).forEach(function(item) { ?>
                        <?js if (item.kind === 'function') { ?>
                            <?js= render.renderTemplate('item-function', {item: item}) ?>
                        <?js } ?>
                    <?js }) ?>
                </article>
			</section>
        <?js }) ?>
	</div>
</div>
		
<div class="clearfix">
</div>

<div class="col-md-3">
	<div id="toc" class="col-md-3 hidden-xs hidden-sm hidden-md"></div>
</div>

<script>
	$( "#toc" ).toc( {
		anchorName  : function ( i, heading, prefix ) {
			var id = $( heading ).attr( "id" );
			return id && id.replace(/\~/g, '-inner-').replace(/\./g, '-static-') || ( prefix + i );
		},
		selectors   : "#toc-content header>h1,#toc-content header>h2,#toc-content header>h3,#toc-content header>h4",
		showAndHide : false,
		smoothScrolling: true
	} );
</script>