<div id="main">
<section>
	<article>
		<h2><?js= title ?></h2>
		<pre
			class="sunlight-highlight-javascript <?js= this.styling.linenums ? 'linenums' : '' ?>"><?js= code ?></pre>
	</article>
</section>
</div>