<section class="tutorial-section">

<div class='container bs-docs-container'>
    <div class="row">
        <div class="col-md-4">
            <div class="bs-sidebar hidden-print" role="complementary">
                <?js function toc(tutorials, level) { ?>
                <ul class="nav <?js= level === 0 ? 'bs-sidenav' : '' ?>">
                    <?js tutorials.children.forEach(function(entry) { ?>
                        <li><a href="#<?js= entry.name ?>"><?js= entry.title ?></a> 
                            <?js toc(entry, level+1); ?>
                        </li>
                    <?js }); ?>
                </ul>
                <?js } ?>
                
                <?js toc(tutorials, 0); ?>
             </div>
        </div>
        <div class="col-md-8">
            <?js function tut(tutorials) { ?>
            <header id="<?js= tutorials.name ?>">
                <h2><?js= tutorials.title ?></h2>
            </header>
            
            <article>
                <?js= tutorials.parse() ?>
            </article>
            <?js tutorials.children.forEach(function(entry) { ?>
                <?js tut(entry); ?>
            <?js }); ?>
            <?js } ?>
            
            <?js tut(tutorials); ?>
        </div>
    <div>
</div>

</section>

<script src="scripts/bs-sidebar.js"></script>
<link type="text/css" rel="stylesheet" href="styles/bs-sidebar.css" />