<section class="tutorial-section">

<div class='container'>
	<div class="row">
		<div class="col-md-4">
			<?js= toc ?>
		</div>
		<div class="col-md-8">
			<header>
			    <h2><?js= tutorial.title ?></h2>
			</header>
			
			<article>
			    <?js= tutorial.parse() ?>
			</article>
		</div>
	<div>
</div>

</section>
