<div class="col-md-8">
	<div id="main">

	<?js function tut(tutorials, level) { ?>
		
		<section class="tutorial-section">
			<? if (tutorials.name && tutorials.title) { ?>
				<header id="<?js= tutorials.name ?>">
				<h<?js= level ?>><?js= tutorials.title ?></h<?js= level ?>>
				</header>
			<? } ?>
		
			<article>
			    <?js= tutorials.parse() ?>
			</article>
		</section>
		
		<?js tutorials.children.forEach(function(entry) { ?>
		    <?js tut(entry, level + 1); ?>
		<?js }); ?>
		
	<?js } ?>

	<?js tut(tutorials, 0); ?>

	</div>
</div>
		
<div class="clearfix">
</div>

<div class="col-md-3">
	<div id="toc" class="col-md-3 hidden-xs hidden-sm hidden-md"><div class="list-group"></div></div>
</div>

<script>
	<?js
		var generate = function (tutorials) {
			return (tutorials || []).map(function (tutorial) {
				return {
					title: tutorial.title,
					link: "#" + tutorial.name,
					children: generate(tutorial.children)
				};
			});
		};
	?>
	$("#toc").children().maketoc(<?js= JSON.stringify(generate(tutorials.children)) ?>);
</script>