<?js function toc(tutorials, tutorial, ancestors, level) { ?>
	<?js tutorials.children.forEach(function(entry) { ?>
		<a class="list-group-item <?js= entry == tutorial ? 'active' : '' ?>" href="<?js= entry.link ?>">
			<span class="toc-h<?js= level ?>">
				<?js= entry.title ?>
			</span>
		</a> 
		<?js if (entry == tutorial || (ancestors.length > 0 && entry == ancestors[0])) toc(entry, tutorial, ancestors.slice(1), level+1); ?>		
	<?js }); ?>
<?js } ?>

<div class="list-group">
<?js toc(tutorials, tutorial, ancestors.slice(1), 1); ?>
</div>
