

<div class="col-md-8">
	<div id="main">
		<section class="tutorial-section">
	

		<header>
		    <h2><?js= tutorial.title ?></h2>
		</header>
		
		<article>
		    <?js= tutorial.parse() ?>
		</article>
		
		</section>
		
	</div>
</div>		
<div class="clearfix">
</div>
<div class="col-md-3">
	<div id="toc" class="col-md-3 hidden-xs hidden-sm hidden-md"><?js= toc ?></div>
</div>
