<?js
    var self = this;
    data.forEach(function(name, i) { ?>
<span class="param-type"><?js= name /*self.globals.helper.linkto(name, self.globals.helper.htmlsafe(name))*/ ?></span>
<?js if (i < data.length-1) { ?>|<?js } ?>
<?js }); ?>